.alin{

    align-content:right;
}
.slide {
    margin-top: 0px;
   }
.slide img{
    height: 70vh;
}
/* ---------------------------------------------------------------------*/
.contenedor-footer {
    display: flex;
    justify-content: space-evenly;

    padding-bottom: 50px;
    /* ---padding = espacio vacio entre la linea blanca y el texto - border es el grosor de la linea blanca del final--*/
    border-bottom: 1px solid #ccc;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo a {
    
    text-decoration: none;
 
    
}
.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
    background-color:#212529;
}
footer
{
    margin-top:50px;
    background-color:#212529;
    text-align: center;
   
}
.h1-color{
  color:#0d6efd;

}

    
.vacio{

    text-decoration: none;
}
/* conten son del pie de página*/
/* ---------------------------------------------------------------------*/

main .portada {
    padding: 100px 0 60px 0;
    
}
.contenedor-portada {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.portada .contenido-textos {
    width: 48%;
    
}
.contenido-textos p span {
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;

    width: 30px;
    height: 30px;
    padding: 0px;
    
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos h3 {
    margin-bottom: 15px;
    color: whitesmoke
}


.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    color:white
}
.imagen-about-us {
    display: inline-block;
    margin-bottom: 50px;
    width: 45%;;
}
.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}
/* ---------------------------------------------------------------------*/
@media screen and (max-width:900px) {
    header {
        background-position: center;
    }

    .contenedor-portada {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* Ajusta el movimiento del texto con la imagen*/
    }

    .portada .contenido-textos {
        width: 70%;
    }

    .imagen-about-us {
        width: 80%;
        /* Ajusta el tamaño de la imagen al cambiar el tamaño de pantalla*/
    }

    .contenedor-footer {
        flex-direction: column;
        /* al cambiar el tamaño de pantalla el pie de pagina se divide en una columna*/
       
    }}