#colorazul {

    color: blue;


    /* Llamada <h1 id =colorazul> "texto "</h1>*/
}
.colorazul{

    color:blue
    /* Llamada <h1 class =colorazul> "texto "</h1>

    se pueden llamar mas de una clase con las funcion class
    class: funcion1 funcion2
    
    */
}
.carrusel{
    height: 400px;

}
.boton_carrusel{
    color: black;
}